#jinja2: trim_blocks:True
# {{ ansible_managed }}
#

--REM INSERTING into M2M_PLATFORM_ACCOUNTS
--SET DEFINE OFF;
Insert into M2M_PLATFORM_ACCOUNTS (ID_ACCOUNT,NAME,DB_USER,DESCRIPTION,CREATION_DATE,LIMIT_GROUPS,LIMIT_VPNS,LIMIT_RULES,LIMIT_PUBLICIP) values (SEQ_M2M_ACCOUNT_ID.NEXTVAL,'APNS_INTERNAL','{{ item.0.name_schema }}','APNS Internal',FCGETUTCSYSDATE(NULL),null,null,null,null);
{% if item.0.type_project == 'MKT' %}
Insert into M2M_PLATFORM_ACCOUNTS (ID_ACCOUNT,NAME,DB_USER,DESCRIPTION,CREATION_DATE,LIMIT_GROUPS,LIMIT_VPNS,LIMIT_RULES,LIMIT_PUBLICIP) values (SEQ_M2M_ACCOUNT_ID.NEXTVAL,'{{ item.0.account }}','USERM2M1','MKT Portal User',FCGETUTCSYSDATE(NULL),null,null,null,null);
{% else %}
Insert into M2M_PLATFORM_ACCOUNTS (ID_ACCOUNT,NAME,DB_USER,DESCRIPTION,CREATION_DATE,LIMIT_GROUPS,LIMIT_VPNS,LIMIT_RULES,LIMIT_PUBLICIP) values (SEQ_M2M_ACCOUNT_ID.NEXTVAL,'{{ item.0.account }}','OLIVETTI','OLIVETTI Portal User',FCGETUTCSYSDATE(NULL),50,30,30,30);
{% endif %}
COMMIT;

--REM INSERTING into ACCOUNT_API_CREDENTIALS
--SET DEFINE OFF;
Insert into ACCOUNT_API_CREDENTIALS (ID_ACCOUNT,USERNAME,PASSWORD,CREATION_DATE,UPDATE_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = '{{ item.0.account }}'),'{{ item.0.account|lower }}','200820E3227815ED1756A6B531E7E0D2',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
COMMIT;

--REM INSERTING into ACCOUNT_PARAMS
--SET DEFINE OFF;
{% if item.0.type_project == 'OLIVETTI' %}
Insert into ACCOUNT_PARAMS (ID_ACCOUNT,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = '{{ item.0.account }}'),'SERVICE_RATIO_ALARM','80',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into ACCOUNT_PARAMS (ID_ACCOUNT,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = '{{ item.0.account }}'),'INTERVAL_CHECK_ATR','60',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into ACCOUNT_PARAMS (ID_ACCOUNT,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = '{{ item.0.account }}'),'PERC_LIMIT_GROUPS','80',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into ACCOUNT_PARAMS (ID_ACCOUNT,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = '{{ item.0.account }}'),'PERC_LIMIT_VPNS','80',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into ACCOUNT_PARAMS (ID_ACCOUNT,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = '{{ item.0.account }}'),'PERC_LIMIT_RULES','80',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into ACCOUNT_PARAMS (ID_ACCOUNT,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = '{{ item.0.account }}'),'PERC_LIMIT_PUBLICIP','80',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into ACCOUNT_PARAMS (ID_ACCOUNT,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = '{{ item.0.account }}'),'PERC_LIMIT_PRIVATEIP','80',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into ACCOUNT_PARAMS (ID_ACCOUNT,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = '{{ item.0.account }}'),'PERC_LIMIT_MSISDN_MAX_IMP','80',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into ACCOUNT_PARAMS (ID_ACCOUNT,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = '{{ item.0.account }}'),'RETENTION_MAIL_GENERATOR','1',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
INSERT INTO ACCOUNT_PARAMS (ID_ACCOUNT,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) VALUES ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = '{{ item.0.account }}'), 'MSISDN_MAX_IMPORT', 81250, FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
INSERT INTO ACCOUNT_PARAMS (ID_ACCOUNT,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) VALUES ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = '{{ item.0.account }}'), 'PERC_LIMIT_PUBLICIP_NAT', 80, FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
COMMIT;
{% endif %}





--REM INSERTING into APN
--SET DEFINE OFF;
{% if item.0.type_project == 'MKT' %}
Insert into APN (ID_APN,APN_NAME,CREATION_DATE,MOBILE_ACCT_TBL) values (SEQ_APN.NEXTVAL,'{{ item.0.apn }}',FCGETUTCSYSDATE(NULL),'RADACCT');
{% else %}
Insert into APN (ID_APN,APN_NAME,CREATION_DATE,MOBILE_ACCT_TBL) values (SEQ_APN.NEXTVAL,'{{ item.0.apn }}',FCGETUTCSYSDATE(NULL),'RADACCT_TIDS');
{% endif %}
COMMIT;



--REM INSERTING into APN_PARAMS
--SET DEFINE OFF;
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = '{{ item.0.apn }}'),'BULK_CACHE_LOADING','0',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = '{{ item.0.apn }}'),'BULK_CACHE_TTL','90000',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
{% if item.0.type_project == 'MKT' %}
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = 'm2m-dev.tim.it'),'ASA_HOST','88.43.152.168',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = 'm2m-dev.tim.it'),'DEFAULT_H2L_CM','OUT_ASA_map',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = 'm2m-dev.tim.it'),'DEFAULT_H2L_CR_POLICY','65535',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = 'm2m-dev.tim.it'),'DEFAULT_H2L_GROUPPOL','apn_shared_GP',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = 'm2m-dev.tim.it'),'DEFAULT_H2L_TUNGROUP','apn_shared',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = 'm2m-dev.tim.it'),'DEFAULT_NEM_CM','OUT_ASA_map',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = 'm2m-dev.tim.it'),'DEFAULT_NEM_CR_POLICY','65535',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = 'm2m-dev.tim.it'),'DEFAULT_NEM_GROUPPOL','apn_shared_nem_GP',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = 'm2m-dev.tim.it'),'DEFAULT_NEM_TUNGROUP','apn_shared_nem',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = 'm2m-dev.tim.it'),'GROUP_AUTH_NAME','RADIUS_APNS',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = 'm2m-dev.tim.it'),'GROUP_AUTH_NAME_NEM','RADIUS_APNS',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = 'm2m-dev.tim.it'),'GROUP_AUTH_PASS','apns_shared!01',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = 'm2m-dev.tim.it'),'GROUP_AUTH_PASS_NEM','apns_shared_nem!01',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = 'm2m-dev.tim.it'),'DEFAULT_THRESHOLD_MAP','1',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = 'm2m-dev.tim.it'),'THRESHOLD_LIMIT','5',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = 'm2m-dev.tim.it'),'THRESHOLD_LIMIT_EXT','10',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = 'm2m-dev.tim.it'),'UPD_INTERIM_DELAY','1',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = 'm2m-dev.tim.it'),'UPD_INTERIM_INTERVAL','30',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = 'm2m-dev.tim.it'),'ONLINE_RETENTION','5',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = 'm2m-dev.tim.it'),'VPN_H2L_RADIUS_SERVER','RADIUS_APNS',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = 'm2m-dev.tim.it'),'CACHE_ROAMING_MODE','1',FCGETUTCSYSDATE(null),FCGETUTCSYSDATE(null));
{% else %}
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = '{{ item.0.apn }}'),'ASA_HOST','88.43.152.168',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = '{{ item.0.apn }}'),'DEFAULT_H2L_CM','OUT_ASA_map',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = '{{ item.0.apn }}'),'DEFAULT_H2L_CR_POLICY','65535',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = '{{ item.0.apn }}'),'DEFAULT_H2L_GROUPPOL','apn_sharedtids',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = '{{ item.0.apn }}'),'DEFAULT_H2L_TUNGROUP','apn_sharedtids',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = '{{ item.0.apn }}'),'DEFAULT_NEM_CM','OUT_ASA_map',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = '{{ item.0.apn }}'),'DEFAULT_NEM_CR_POLICY','65535',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = '{{ item.0.apn }}'),'DEFAULT_NEM_GROUPPOL','apn_sharedtids_nem',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = '{{ item.0.apn }}'),'DEFAULT_NEM_TUNGROUP','apn_sharedtids_nem',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = '{{ item.0.apn }}'),'GROUP_AUTH_NAME','apn_sharedtids',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = '{{ item.0.apn }}'),'GROUP_AUTH_NAME_NEM','apn_sharedtids_nem',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = '{{ item.0.apn }}'),'GROUP_AUTH_PASS','sharedtids!01',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = '{{ item.0.apn }}'),'GROUP_AUTH_PASS_NEM','sharedtids_nem!01',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = '{{ item.0.apn }}'),'ONLINE_RETENTION','30',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = '{{ item.0.apn }}'),'INVALIDATE_RETENTION','360',FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
Insert into APN_PARAMS (ID_APN,PARAM_KEY,PARAM_VALUE,CREATION_DATE,UPDATE_DATE) values ((select ID_APN from APN where APN_NAME = '{{ item.0.apn }}'),'CACHE_ROAMING_MODE','0',FCGETUTCSYSDATE(null),FCGETUTCSYSDATE(null));
{% endif %}
COMMIT;


--REM INSERTING into GGSN_NODE
{% for g in item.0.ggsn %} 
Insert into GGSN_NODE (ID_GGSN,ID_APN,GGSN_NAME,CREATION_DATE,UPDATE_DATE,FLAG_VALID,NAS_IDENTIFIER) 
values (SEQ_GGSN_NODE.NEXTVAL,(select ID_APN from APN where APN_NAME = '{{ g.name }}'),'',FCGETUTCSYSDATE(null),FCGETUTCSYSDATE(null),1,'{{ g.name }}');
{% endfor %}
COMMIT;

{% for g in item.0.ggsn %} 
    {% for adr in g.address %} 
    Insert into NAS (ID,NASNAME,SHORTNAME,TYPE,PORTS,SECRET,SERVER,COMMUNITY,DESCRIPTION,RADIUS_TYPE,DISCONNECT_PORT,ID_GGSN,ID_APN,NAS_IDENTIFIER) 
    values (NAS_SEQ.NEXTVAL,'nas{{ g.name }}.{{ loop.index }}','client{{ g.name }}.{{ loop.index }}','other',null,'{{ g.secret }}','{{ adr }}',null,'RADIUS GGSN {{ g.name }}','GGSN',3799,(SELECT ID_GGSN FROM GGSN_NODE WHERE ID_APN = (select ID_APN from APN where APN_NAME = '{{ item.0.apn }}')),(select ID_APN from APN where APN_NAME = '{{ item.0.apn }}'),null);
    {% endfor %}
{% endfor %}
COMMIT;

{% set ggsn_list = '' %}
{% for g in item.0.ggsn %} 
    {% if loop.index == 0 %}
        {% set ggsn_list = g.name %}
    {% else %}
        {% set ggsn_list = ggsn_list ~ ',' ~ g.name %}
    {% endif %}
{% endfor %}
{% for b in item.0.nas_backend %} 
Insert into NAS (ID,NASNAME,SHORTNAME,TYPE,PORTS,SECRET,SERVER,COMMUNITY,DESCRIPTION,RADIUS_TYPE,DISCONNECT_PORT,ID_GGSN,ID_APN,NAS_IDENTIFIER) 
values (NAS_SEQ.NEXTVAL,'{{ b.addr }}','{{ b.name }}','other',null,'{{ b.secret }}','{{ b.addr }}',null,null,'BACKEND',3799,null,(select ID_APN from APN where APN_NAME = '{{ b.addr }}'),'{{ ggsn_list }}');
{% endfor %}
COMMIT;


{% if item.0.type_project == 'MKT' %}
{% else %}
{% endif %}

--REM INSERTING into ACCOUNT_NOTIFY_URL
--SET DEFINE OFF;
--Insert into ACCOUNT_NOTIFY_URL (ID_ACCOUNT,URL,ACTIVE,PRIORITY,CREATION_DATE,UPDATE_DATE,USER_URL,PASSWORD_URL,TYPE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = 'M2M'),'http://127.0.0.1/M2M-WebServices/services/notificationCb',1,1,FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL),'APNS','radius2013!','NOTIFY_WS');
--Insert into ACCOUNT_NOTIFY_URL (ID_ACCOUNT,URL,ACTIVE,PRIORITY,CREATION_DATE,UPDATE_DATE,USER_URL,PASSWORD_URL,TYPE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = 'M2M'),'http://127.0.0.1/rest/1.0/apnsNotification/',1,1,FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL),'radius','radius2013!','NOTIFY_REST');
--Insert into ACCOUNT_NOTIFY_URL (ID_ACCOUNT,URL,ACTIVE,PRIORITY,CREATION_DATE,UPDATE_DATE,USER_URL,PASSWORD_URL,TYPE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = '{{ item.0.account }}'),'http://127.0.0.1/M2M-WebServices/services/notificationCb',1,1,FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL),'APNS','radius2013!','NOTIFY_WS');
--Insert into ACCOUNT_NOTIFY_URL (ID_ACCOUNT,URL,ACTIVE,PRIORITY,CREATION_DATE,UPDATE_DATE,USER_URL,PASSWORD_URL,TYPE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = '{{ item.0.account }}'),'http://127.0.0.1/rest/1.0/apnsNotification/',1,1,FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL),'radius','radius2013!','NOTIFY_REST');
--COMMIT;



{% if item.0.type_project == 'MKT' %}
{% else %}
{% endif %}

--REM INSERTING into APN_ACCOUNT_MAP
--SET DEFINE OFF;
Insert into APN_ACCOUNT_MAP (ID_ACCOUNT,ID_APN,CREATION_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = '{{ item.0.account }}'),(select ID_APN from APN where APN_NAME = '{{ item.0.apn }}'),FCGETUTCSYSDATE(NULL));
COMMIT;



--REM INSERTING into ACCOUNT_FUNCTIONS
--SET DEFINE OFF;
{% if item.0.type_project == 'MKT' %}
Insert into ACCOUNT_FUNCTIONS (ID_ACCOUNT,ID_FUNCTION,CREATION_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = '{{ item.0.account }}'),(SELECT ID_FUNCTION FROM MASTER_DATA_FUNCTIONS WHERE FUNCTION_CODE = 'ENABLE_DISC_TERM'),FCGETUTCSYSDATE(NULL));
Insert into ACCOUNT_FUNCTIONS (ID_ACCOUNT,ID_FUNCTION,CREATION_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = 'M2M'),(SELECT ID_FUNCTION FROM MASTER_DATA_FUNCTIONS WHERE FUNCTION_CODE = 'ONLY_NATIONAL_THRESHOLD'),FCGETUTCSYSDATE(NULL));
Insert into ACCOUNT_FUNCTIONS (ID_ACCOUNT,ID_FUNCTION,CREATION_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = 'M2M'),(SELECT ID_FUNCTION FROM MASTER_DATA_FUNCTIONS WHERE FUNCTION_CODE = 'BLOCK_CLIENT_REMOVE'),FCGETUTCSYSDATE(NULL));
Insert into ACCOUNT_FUNCTIONS (ID_ACCOUNT,ID_FUNCTION,CREATION_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = 'M2M'),(SELECT ID_FUNCTION FROM MASTER_DATA_FUNCTIONS WHERE FUNCTION_CODE = 'ROAMING_EXT_LIMIT'),FCGETUTCSYSDATE(NULL));
Insert into ACCOUNT_FUNCTIONS (ID_ACCOUNT,ID_FUNCTION,CREATION_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = 'M2M'),(SELECT ID_FUNCTION FROM MASTER_DATA_FUNCTIONS WHERE FUNCTION_CODE = 'SINGLE_INTERVAL4DAY'),FCGETUTCSYSDATE(NULL));
Insert into ACCOUNT_FUNCTIONS (ID_ACCOUNT,ID_FUNCTION,CREATION_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = 'M2M'),(SELECT ID_FUNCTION FROM MASTER_DATA_FUNCTIONS WHERE FUNCTION_CODE = 'THRESHOLD_AVOID_DUPLICATE_AREA'),FCGETUTCSYSDATE(NULL));
Insert into ACCOUNT_FUNCTIONS (ID_ACCOUNT,ID_FUNCTION,CREATION_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = 'M2M'),(SELECT ID_FUNCTION FROM MASTER_DATA_FUNCTIONS WHERE FUNCTION_CODE = 'THRESHOLD_SUPPORT'),FCGETUTCSYSDATE(NULL));
Insert into ACCOUNT_FUNCTIONS (ID_ACCOUNT,ID_FUNCTION,CREATION_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = 'M2M'),(SELECT ID_FUNCTION FROM MASTER_DATA_FUNCTIONS WHERE FUNCTION_CODE = 'USE_CLIENT_LIMITS'),FCGETUTCSYSDATE(NULL));
Insert into ACCOUNT_FUNCTIONS (ID_ACCOUNT,ID_FUNCTION,CREATION_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = 'M2M'),(SELECT ID_FUNCTION FROM MASTER_DATA_FUNCTIONS WHERE FUNCTION_CODE = 'CLEAN_USER_GRP'),FCGETUTCSYSDATE(NULL));
Insert into ACCOUNT_FUNCTIONS (ID_ACCOUNT,ID_FUNCTION,CREATION_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = 'M2M'),(SELECT ID_FUNCTION FROM MASTER_DATA_FUNCTIONS WHERE FUNCTION_CODE = 'CLEAN_SYS_USE_CLIENT_LIMITS'),FCGETUTCSYSDATE(NULL));
{% else %}
Insert into ACCOUNT_FUNCTIONS (ID_ACCOUNT,ID_FUNCTION,CREATION_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = '{{ item.0.account }}'),(SELECT ID_FUNCTION FROM MASTER_DATA_FUNCTIONS WHERE FUNCTION_CODE = 'BATCH_PROVISIONING'),FCGETUTCSYSDATE(NULL));
Insert into ACCOUNT_FUNCTIONS (ID_ACCOUNT,ID_FUNCTION,CREATION_DATE) values ((SELECT ID_ACCOUNT FROM M2M_PLATFORM_ACCOUNTS WHERE NAME = '{{ item.0.account }}'),(SELECT ID_FUNCTION FROM MASTER_DATA_FUNCTIONS WHERE FUNCTION_CODE = 'USE_ACCOUNT_LIMITS'),FCGETUTCSYSDATE(NULL));
{% endif %}
COMMIT;

--REM INSERTING into MAP_LIST
--SET DEFINE OFF;
Insert into MAP_LIST (ID_MAP,NAME_MAP,ID_APN,CREATION_DATE,UPDATE_DATE,DEFAULT_AREA,DEFAULT_MCC) values (2,'DEFAULT_MAP_{{ item.0.apn }}',(select ID_APN from APN where APN_NAME = '{{ item.0.apn }}'),FCGETUTCSYSDATE(NULL),FCGETUTCSYSDATE(NULL),4,250);
COMMIT;

Insert into PLATFORM_CONFIGURATION (PARAM,VALUE,USER_PLF,CREATION_DATE,UPDATE_DATE) values ('DEFAULT_APN',(select ID_APN from APN where APN_NAME = '{{ item.0.account }}'),null,FCGETUTCSYSDATE(NULL), FCGETUTCSYSDATE(NULL));
COMMIT;

