[Unit]
Description=Oracle RMAN backup maintenance for l1
After=network.target

[Service]
User=oracle
Group=oinstall
Type=oneshot
ExecStart=/backup_rman/oracle_rman/scripts/rmanbck_multi.sh -ml1

[Install]
WantedBy=multi-user.target

