#!/bin/bash
# Version: 0.1.0
# Author(s):
#      Walter Curtetti, walter.curtetti@gmail.com
#

currentDir=`dirname $0`
typeBackup=$1
pathSrvCrl="/u01/app/12.1.0/grid_1/bin"
listdb=`$pathSrvCrl/srvctl config database`
echo "listdb = $listdb"
numDb=`echo "$listdb" | wc -l`
for i in `seq 1 $numDb`; do 
    dbname=`echo "$listdb" | head -$i | tail -1`
    echo "dbname = $dbname"

    $currentDir/rmanbck.sh $typeBackup $dbname || echo "ERROR in call rman script"

done


exit 0
