#!/bin/bash
# Version: 0.1.0
# Author(s):
#      Walter Curtetti, walter.curtetti@gmail.com
#

echo "Creating a ocr backup"
retentionDays=30
currentDir=`dirname $0`
pathOcrCfg="/u01/app/12.1.0.2/grid/bin"
listdb=`$pathOcrCfg/srvctl config database`
echo "listdb = $listdb"

dbname=`echo "$listdb" | head -1 | tail -1`
echo "dbname = $dbname"

pathOcrBck="$currentDir/../CRS"

$pathOcrCfg/ocrconfig -export $pathOcrBck/OCRFile_expBackup_`date +%Y%m%d_%H%M`.dmp

retcode=$?
if [ ${retcode} -eq 0 ]
then
	echo "ocr backup created"
fi

#remove older than <retentionDays> DAYS
find $pathOcrBck/ -mtime +$retentionDays -regex ".*OCRFile_expBackup.*" -exec rm -rf {} \;

retcode=$?
if [ ${retcode} -eq 0 ]
then
	echo "removing old ocr backup succesfully"
fi

exit 0
