[Unit]
Description=Oracle ASM SPfile and Metadata backup
After=network.target

[Service]
User=grid
Group=oinstall
Type=oneshot
ExecStart=/backup_rman/oracle_rman/scripts/asmbck.sh

[Install]
WantedBy=multi-user.target

